.dropdown:hover .dropdown-menu {
    display: block;
}

.showinfo {
    display: block;
    padding-right: 17px;
}

.form.showagain {
    display: block;
}
.module.form-module .form.hideinfo {
    display: none;
}
.modal.video-modal.fade.in {
    display: block;
    background-color: rgba(0, 0, 0, 0.5) ;
}

.slidey-overlay .slidey-progress {
    animation: progressload 6s ease-in-out  infinite;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
@keyframes progressload {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}